*,
*::after,
*::before {
    box-sizing: border-box;
}
@font-face {
    font-family: "Gilroy";
    src: url('font/Gilroy-Regular.ttf');
}
body {
    font-family: "Gilroy";
}
body, ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
body {
  background: #040201;
  overflow-x: hidden;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 108%;
  letter-spacing: 0.01em;
  color: #fff;
}
a:hover, a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style-type: none;
}
.clear::after,
.clear::before {
    display: table;
    content: " ";
}
.clear::after {
    clear: both;
}
.custom-container-fluid {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.custom-container {
    max-width: 1170px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.custom-container::after,
.custom-container::before {
    display: table;
    content: " ";
}
.custom-container::after {
    clear: both;
}
.custom-row {
    display: block;
    position: relative;
}
.custom-container>.custom-row {
  margin-left: -15px;
  margin-right: -15px;
}
.custom-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #313131;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    border-radius: 2px;
}
.cscol-md-6::after, .cscol-sm-12::after, .cscol-md-12::after, .cscol-sm-6::after, .cscol-lg-6::after, .cscol-lg-2::after, .cscol-md-4::after, .cscol-sm-12::after, .cscol-lg-7::after {
    clear: both;
}
@media (min-width: 320px) { 
    .custom-container {
        width: calc(100% - 26px);
        padding-left: 13px;
        padding-right: 13px;
    }
    .custom-container>.custom-row {
        margin-left: -13px;
        margin-right: -13px;
    }
    .cscol-sm-12 {
        width: 100%;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 576px) { 
    .custom-container {
        width: 540px;
    }
}
@media (min-width: 768px) { 
    .custom-container {
        width: 720px;
    }
    .cscol-md-6 {
        display: block;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .cscol-md-4 {
      display: block;
      width: calc(100% / 3 - 3px);
      padding-right: 15px;
      padding-left: 15px;
    }
}
@media (min-width: 992px) { 
    .custom-container {
        width: 960px;
    }
}
@media (min-width: 1200px) { 
    .custom-container {
        width: 1170px;
    }
    .cscol-lg-6 {
      display: block;
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
    }
    .cscol-lg-2 {
      display: block;
      width: calc(100% / 6);
      padding-left: 15px;
      padding-right: 15px;
    }
    .cscol-lg-7 {
      display: block;
      width: calc(100% * 7 / 12);
      padding-left: 15px;
      padding-right: 15px;
    }
}

/* Top Navbar Style */
header .custom-container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 81px;
  background: rgba(1, 5, 43, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header-brand a {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 126%;
}
.header-brand a img {
  margin-right: 12px;
}
.top-navbar .navbar {
  display: flex;
  align-items: center;
}
.top-nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.top-nav-item:nth-last-child(2) .top-nav-link, .top-nav-item:last-child .top-nav-link {
  border-left: none;
}
.top-nav-item:last-child {
  display: none;
  align-items: center;
  margin-left: 1rem;
}
.btn-hamburger {
  width: 32px;
  height: 32px;
  padding: 5.33px 1.33px;
}
.btn-hamburger>div {
  display: block;
  margin-bottom: 6.67px;
  height: 2.67px;
  background: #fff;
}
.btn-hamburger>div:first-child {
  width: 50%;
  margin-left: auto;
}
.btn-hamburger>div:nth-child(2) {
  width: 100%;
}
.btn-hamburger>div:last-child {
  margin-bottom: 0;
  width: 50%;
  margin-right: auto;
}
.btn-launch-app {
  background: #fff;
  color: #040201;
  line-height: 26px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01rem;
  padding: 11px 19px;
  border-radius: 8px;
}
.btn-launch-app:hover {
  background: #040201;
  color: #fff;
  transition: all .3s ease;
}
.mobile-nav-content {
  /* display: none; */
  z-index: 10;
  position: absolute;
  width: 100%;
  padding: 0.5rem 2rem;
  background: rgb(71, 73, 100);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  right: 0;
  top: 82px;
  max-width: 375px;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.mobile-nav-item {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem 0;
}
.mobile-nav-item:last-child {
  border-bottom: none;
}
.mobile-nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  display: block;
}
/* Top Navbar Style End */

/* Landing muted text */
.landing-muted-text {
  margin-top: 2rem;
}
.carousel-item {
  color: #fff;
  z-index: 999;
}
.carousel-item>div>div {
  display: flex;
  align-items: center;
}
.carousel-slider {
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 4rem;
}
.carousel-slider>div {
  width: 8px;
  height: 2px;
  background: #fff;
  opacity: .2;
  border-radius: 100px;
  margin-right: .5rem;
}
.carousel-slider>div.active {
  background: #fff;
  opacity: 1;
}
.landing-muted-text .custom-container-fluid .custom-row {
  background: linear-gradient(180deg, rgba(1, 5, 43, 0.7) 0%, rgba(1, 5, 43, 0) 100%);
  border-radius: 16px;
  padding-top: 110px;
  padding-left: 95px;
  height: 667px;
}
.landing-muted-text .custom-container-fluid .custom-row>img {
  position: absolute;
  bottom: -17px;
  right: 30px;
}
.landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child {
  position: absolute;
  z-index: -1;
  right: -100px;
  text-align: right;
  top: -110px;
}
.landing-socials {
  display: flex;
  align-items: center;
}
.landing-socials>a {
  margin-right: 43px;
}
.landing-socials>a:last-child {
  margin-right: 0;
}
.carousel-item>div {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  backdrop-filter: blur(30px);
  padding: 7px 12px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
}
.carousel-item>div>span {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #fff;
  margin-right: 0.5rem;
}
.carousel-item>h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.carousel-item>h1>span {
  font-weight: 700;
}
.carousel-item>span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.blue-circle {
  width: 9px;
  height: 9px;
  background: #06D8B7;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.btn-mint {
  padding: 1px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #202020;
  background: #FFFFFF;
  border-radius: 4px;
  margin-left: 0.5rem;
}
.btn-mint:hover {
  background: #040201;
  color: #fff;
  transition: all .3s ease;
}
/* Landing muted text End */

/* Opportunity Style */
.opportunity {
  position: relative;
  padding-bottom: 100px;
}
.opportunity>.custom-container>.custom-row {
  text-align: center;
  padding-top: 207px;
  position: relative;
}
.opportunity .img-rectangle {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -50px;
}
.opportunity .custom-row h2 {
  text-align: center;
  margin-bottom: 60px;
}
.opportunity-content {
  display: flex;
  justify-content: space-between;
}
.opportunity-item {
  display: block;
  align-items: center;
  color: #fff;
  width: 199px;
}
.opportunity-item h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  margin-top: 13px;
  margin-bottom: 13px;
}
.opportunity-item span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 13px;
  display: block;
}
.opportunity-item a {
  background: rgba(255, 255, 255, 0.16);
  padding: 11px 12px;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.01em;
}
.opportunity-item a:hover {
  background: #fff;
  color: #040201;
  transition: all .3s ease;
}
/* Opportunity Style End */

/* Mission Style */
.mission {
  margin-top: 100px;
  position: relative;
}
.mission>img {
  position: absolute;
  z-index: -1;
  top: 116px;
  left: 0;
}
.mission .custom-row {
  display: flex;
}
.mission .custom-row>div:first-child {
  text-align: center;
}
.mission .custom-row>div:last-child {
  text-align: left;
  color: #fff;
  padding-top: 30px;
}
.mission-content {
  width: 342px;
}
.mission .custom-row>div:last-child h2 {
  margin-bottom: 1rem;
}
.mission .custom-row>div:last-child span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #fff;
}
/* Mission Style End */

/* Market Style */
.market {
  margin-top: 287px;
}
.market-content>.cscol-sm-12 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}
.market h2 {
  margin-bottom: 60px;
}
.market-item {
  color: #fff;
  width: 343px;
  padding: 24px;
  background: rgba(4, 2, 1, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 8px;

}
.market-conten>.cscol-sm-12 .market-item:last-child {
  margin-right: 0;
}
.market-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.btn-market {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(30px);
  border-radius: 8px;
}
.btn-market i {
  border-radius: 50%;
  background: #fff;
  color: #040201;
}
.market-item h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.01em;
  margin-bottom: 0.5rem;
}
.market-item>span {
  font-size: 14px;
  font-weight: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #fff;
}
/* Market Style End */

/* Roadmap Style */
.roadmap {
  margin-top: 100px;
  text-align: center;
}
.roadmap h2 {
  margin-bottom: 72px;
}
.roadmap-content {
  padding-left: 150px;
}
.roadmap-item {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}
.roadmap-item-list {
  border-left: 1px solid #fff;
  /* height: 100vh; */
}
.roadmap-item-list::before {
  content: " ";
  position: absolute;
  left: 7px;
  top: 0;
  height: 100%;
  border-left: 1px solid #fff;
}
.roadmap-item-sign {
  top: -10px;
  position: absolute;
  display: flex;
  align-items: center;
}
.roadmap-item-sign>div {
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  margin-right: 26px;
}
.roadmap-item-sign>span {
  font-weight: 700;
  font-size: 16px;
  line-height: 108%;
  letter-spacing: 0.01em;
  color: #fff;
}
.roadmap-item.active .roadmap-item-sign {
  left: -5px;
}
.roadmap-item.active .roadmap-item-sign>span {
  font-size: 24px;
}
.roadmap-item.active .roadmap-item-sign>div {
  width: 25px;
  height: 25px;
}
.roadmap-item-content {
  display: none;
  background: rgba(4, 2, 1, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  margin-left: 103px;
  padding: 2rem 6rem;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.15);
  max-width: 794px;
  width: 100%;
}
.roadmap-item.active .roadmap-item-content {
  display: block;
}
.roadmap-item-header {
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  position: relative;
}
.roadmap-item-header::before {
  position: absolute;
  content: " ";
  background: #ED6565;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  left: 0;
  top: 0;
  left: -65px;
}
.roadmap-item-nav {
  padding-left: 20px;
  text-align: left;
}
.roadmap-nav-list {
  list-style: disc;
}
.roadmap-nav-item {
  color: #fff;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400; 
  letter-spacing: 0.01em;
}
/* Roadmap Style End */

/* Community Style */
.community {
  margin-top: 100px;
  text-align: center;
}
.community-header {
  width: 482px;
  margin-left: auto;
  margin-right: auto;
}
.community-header h2 {
  margin-bottom: 1.5rem;
}
.community-header span {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.community-content {
  background: #01052B;
  border-radius: 16px;
  padding: 0 2.5rem;
  width: 792px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.community-list {
  width: 386px;
  top: 2rem;
  position: absolute;
  left: 2.5rem;
}
.community-item {
  margin-bottom: 1.5rem;
  text-align: left;
  color: #fff;
  padding-left: 38px;
  display: flex;
  align-items: center;
  position: relative;
}
.btn-propose-idea {
  background: #FFFFFF;
  backdrop-filter: blur(30px);
  border-radius: 8px;
  color: #040201;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.01em;
  padding: 11px 12px;
}
.btn-propose-idea:hover {
  background: #040201;
  color: #fff;
  transition: all .3s ease;
}
.btn-propose-idea i {
  color: #fff;
  background: #040201;
  border-radius: 50%;
}
.btn-propose-idea:hover i {
  color: #040201;
  background: #fff;
  transition: all .3s ease;
}
.community-item-text h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}
.community-item-text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  opacity: 0.7;
}
.community-sign {
  position: absolute;
  left: 0;
  top: 3px;
  display: flex;
  flex-direction: column;
}
.community-sign>div {
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #157EFF;
  border-radius: 50%;
}
.community-sign>div>div {
  width: 6px;
  height: 6px;
  background: #157EFF;
  border-radius: 50%;
}
.community-sign img {
  width: 1px;
  margin-top: 5px;
  margin-left: 7px;
}
/* Community Style End*/

/* Footer Style */
footer {
  margin-top: 200px;
  position: relative;
  z-index: 999;
  overflow: hidden;
}
footer>img {
  position: absolute;
  right: 0;
  z-index: -1;
}
footer .custom-container>.custom-row {
  display: flex;
  padding-top: 138px;
}
footer>.custom-container-fluid {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 51px;
}
.footer-item {
  color: #fff;
  text-align: left;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.footer-item h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-shadow: 0px 4px 6px rgba(38, 50, 56, 0.16), 0px 4px 16px rgba(38, 50, 56, 0.08);
}
.footer-nav-item {
  margin-top: 0.5rem;
}
.footer-nav-link {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
  opacity: 0.7;
  color: #fff;
}
footer .custom-container-fluid>.custom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 80px;
}
.footer-brand, .footer-logo {
  display: flex;
  align-items: center;
}
.footer-brand>span, .footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 126%;
  opacity: 0.5;
  color: #fff;
}
.footer-logo {
  margin-right: 2rem;
}
.footer-logo span {
  font-weight: 700;
  font-size: 18.9723px;
  line-height: 126%;
  color: #fff;
  margin-left: 0.5rem;
}
.footer-link {
  margin-left: 2rem;
}
/* Footer Style End */

/* Circle Style */
body>#root>img {
  position: absolute;
}
img.landing-circle-left {
  left: 0px;
  top: 82px;
  z-index: -1;
}
img.landing-circle-left2 {
  left: 0;
  z-index: -1;
  display: none;
}
img.landing-circle-right {
  right: 0;
  top: 0;
  z-index: -1
}
/* Circle Style End */

/* card border */
.card-border::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  background: 
    linear-gradient(347.82deg, rgba(89, 114, 157, 0.34) 10%, rgba(255, 255, 255, 0) 20.85%),
    linear-gradient(153.87deg, rgba(89, 114, 157, 0.34) 4.35%, rgba(255, 255, 255, 0) 39.8%);    
    
  --bw: 1px;
  --r: 16px;
  --g: #0000 calc(98% - var(--bw)),#000 calc(100% - var(--bw)) 98%,#0000;
  --mask: 
    radial-gradient(farthest-side at 100% 100% ,var(--g)) 0 0 /var(--r) var(--r) no-repeat, 
    radial-gradient(farthest-side at 0% 100% ,var(--g)) 100% 0 /var(--r) var(--r) no-repeat, 
    radial-gradient(farthest-side at 100% 0%,var(--g)) 0 100%/var(--r) var(--r) no-repeat, 
    radial-gradient(farthest-side at 0% 0%,var(--g)) 100% 100%/var(--r) var(--r) no-repeat, 
    linear-gradient(90deg,#000 var(--bw),#0000 0 calc(100% - var(--bw)),#000 0) 50%/100% calc(100% - var(--r) * 2 + var(--bw)) no-repeat, 
    linear-gradient( #000 var(--bw),#0000 0 calc(100% - var(--bw)),#000 0) 50%/calc(100% - var(--r) * 2 + var(--bw)) 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.card-border {
  overflow: hidden;
}
/* card border end */
@media (max-width: 1199px) {
  .top-nav-link {
    padding: 0 8px;
  }
  .top-nav-item:nth-last-child(2) .top-nav-link {
    padding: 3px 8px;
  }
  .landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child {
    right: 0;
  }
  .landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child img {
    width: 100%;
    margin-right: -50px;
  }
  .landing-muted-text .custom-container-fluid .custom-row {
    padding-left: 30px;
  }
  .carousel-item>h1 {
    font-size: 56px;
  }
  .market-item {
    width: 300px;
  }
  .roadmap-content {
    padding-left: 50px;
  }
  .roadmap-item-content {
    margin-left: 53px;
  }
}
@media (max-width: 991px) {
  .top-nav-item {
    display: none;
  }
  .top-nav-item:nth-last-child(2) {
    display: block;
  }
  .top-nav-item:last-child {
    display: flex;
    align-items: center;
  }
  .btn-hamburger {
    display: inline-block;
  }
  .btn-close img {
    vertical-align: middle;
  }
  .landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child {
    top: 0;
  }
  .opportunity-content {
    display: block;
  }
  .opportunity-item {
    width: 50%;
    text-align: center;
    float: left;
    margin-bottom: 30px;
    height: 327px;
  }
  .opportunity-item>div {
    width: 199px;
    display: inline-block;
  }
  .market-item {
    width: 220px;
  }
  .community-content {
    width: 100%;
  }
  footer>img {
    height: 100%;
  }
  footer .custom-container>.custom-row {
    display: block;
  }
  footer div.footer-item {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-link {
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .header-brand a {
    font-size: 20px;
  }
  .header-brand a img {
    width: 36px;
    height: 36px;
  }
  .landing-muted-text .custom-container-fluid .custom-row {
    padding: 30px 1rem;
    padding-top: 408px;
    height: auto;
    text-align: center;
  }
  .carousel-item>h1 {
    font-size: 48px;
    text-align: left;
  }
  .landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child {
    text-align: center;
    z-index: 1;
  }
  .landing-muted-text .custom-container-fluid .custom-row>div {
    padding: 0;
  }
  .landing-muted-text .custom-container-fluid .custom-row>.cscol-sm-12:first-child img:first-child {
    width: unset;
    margin-left: calc(50% - 743px);
    margin-top: -200px;
  }
  .btn-mint {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .carousel-slider {
    margin-bottom: 2rem;
  }
  .landing-muted-text .custom-container-fluid .custom-row>img {
    display: none;
  }
  .landing-socials {
    justify-content: center;
  }
  img.landing-circle-left {
    display: none;
  }
  img.landing-circle-left2 {
    display: block;
  }
  .carousel-item>div, .carousel-item>div>* {
    display: inline-block;
  }
  .carousel-item>span {
    display: block;
    text-align: left;
  }
  .mission .custom-row {
    display: block;
  }
  .mission .custom-row>div:last-child {
    text-align: center;
  }
  .mission-content {
    margin-left: auto;
    margin-right: auto;
  }
  .mission>img {
    top: 320px;
  }
  .mission .custom-row>div:last-child {
    padding: 0;
    margin-top: 50px;
  }
  .market-item {
    width: 343px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .market-content>.cscol-sm-12 {
    display: block;
  }
  .market h2 {
    text-align: center;
  }
  .opportunity .img-rectangle {
    display: none;
  }
  .roadmap-content {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .roadmap-item {
    padding-top: 0;
  }
  .roadmap-item:last-child {
    padding-bottom: 0;
  }
  .roadmap-item-content {
    margin-left: 0;
    display: block;
    padding-right: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
  }
  .roadmap-item-header::before {
    left: -50px;
  }
  .roadmap-item-list {
    display: none;
  }
  .community-content {
    height: 274px;
    padding: 1.5rem 1rem;
  }
  .community-header {
    width: 100%;
  }
  .community-list {
    width: calc(100% - 32px);
    height: calc(100% - 48px);
    left: 1rem;
    top: 1.5rem;
    overflow: hidden;
  }
  .btn-propose-idea {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 101.5px);
    z-index: 10;
  }
  .opportunity>.custom-container>.custom-row {
    padding-top: 100px;
  }
  .market {
    margin-top: 100px;
  }
  .mission {
    margin-top: 0;
  }
  footer {
    margin-top: 100px;
  }
  footer div.footer-item {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-social {
    justify-content: center;
  }
  .footer-social img {
    margin-right: 1.5rem;
  }
  .footer-social img:last-child {
    margin-right: 0;
  }
  footer>.custom-container-fluid {
    border: none;
    margin-top: 10px;
  }
  footer .custom-container-fluid>.custom-row {
    display: block;
    text-align: center;
    line-height: normal;
    padding: 24px 0;
  }
  .footer-logo {
    justify-content: center;
    margin-right: 0;
  }
  .footer-brand {
    display: block;
  }
  .footer-brand>* {
    margin-bottom: 24px;
  }
  .footer-links {
    display: block;
  }
  .footer-link {
    margin-left: 0;
    margin-top: 24px;
    display: block;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .opportunity-item {
    width: 100%;
    margin-bottom: 56px;
  }
  .opportunity-item:last-child {
    margin-bottom: 0;
  }
}