@import url('https://fonts.cdnfonts.com/css/gilroy');

.home {
    background-color: rgb(5, 18, 20);
}
.home__hero {
    background-image: linear-gradient(180deg, rgba(5, 18, 20, 0) 0%, #051214 120%), url('../../../public/aquapolis.png');
    height: calc(100vh - 82px);
    background-size: cover;
}
.home__hero__inner {

}
.home__chains img {
    width: 100%;
}
.home__chains, .home__list__container {
    min-height: 400px;
    justify-content: space-between;
}
.home__chains__image img {
    background: linear-gradient(0deg, rgba(5, 18, 20, 0.42) -7%, #051214 101.47%);
    backdrop-filter: blur(50px);
}
.home__list {
    position: relative;
}
.home__list__container > *, .home__list__container__right__item {
    flex: 1;
}
.home__chains__text {
    width: min(450px, 100%) !important;
}
.home__list__container__left, .home__list__container__right__item {
    border-radius: 16px;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px);
    border: 1px solid white;
    border-image-source: linear-gradient(347.82deg, rgba(255, 255, 255, 0.34) 10%, rgba(255, 255, 255, 0) 20.85%);
}
.bubbles {
    position: absolute;
    right: -5rem;
    bottom: -5rem;
}
.circle-filler {
    position: absolute;
    width: 697px;
height: 719px;
left: 20%;
background: #157EFF;
opacity: 0.2;
filter: blur(150px);
}
